<section>
    <div class="container">
        <div class="row mt-5">
            <a href="/admin/add-products" class="btn btn-success ml-auto">Add Product</a>
        </div>
    </div>
    <div class="container">
  <table class='table mt-5'>
    <thead>
      <tr>
        <th scope='col'>
          #
        </th>
        <th scope='col'>
          Name
        </th>
        <th scope='col'>
          Category
        </th>
        <th scope='col'>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th scope='row'>
            {{this.num}}
          </th>
          <td>
            {{this.name}}
          </td>
          <td>
            {{this.category}}
          </td>
          <td>
            {{this.description}}
          </td>
          <td>
            <img src="/product-images/{{this._id}}.jpg" alt='' style='width:50px;height:50px;' />
          </td>
          <td>
            <a class="btn btn-primary" href="/admin/edit-product/{{this._id}}">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" href="/admin/delete-product/{{this._id}}">Delete</a>
          </td>
          
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</section>