<section>
  <div class='container'>
    <h4 class='mt-3'>
      Shopping Cart
    </h4>
    <div class='row'>
      <table class='table mt-5'>
        <thead>
          <tr>
            <th scope='col'>
              Item
            </th>
            <th scope='col'>
              Product
            </th>
            <th scope='col'>
              Description
            </th>
            <th scope='col'>
              Quantity
            </th>
            <th scope='col'>
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each cartProds}}
            <tr>
              <td>
                <img
                  src="/product-images/{{this.product._id}}.jpg"
                  alt=''
                  style='width:50px;height:50px;'
                />
              </td>
              <td>
                {{this.product.name}}
              </td>
              <td>
                {{this.product.description}}
              </td>

              <td>
                <button
                  class='btn btn-primary mr-3'
                  onclick="changeCount('{{this._id}}','{{
                    this.product._id
                  }}',-1)"
                >
                  -
                </button>
                <span id="{{this.product._id}}">
                  {{this.quantity}}
                </span>
                <button
                  class='btn btn-primary ml-3'
                  onclick="changeCount('{{this._id}}','{{this.product._id}}',1)"
                >
                  +
                </button>
              </td>
               <td>
                {{this.product.price}}
              </td>
              <td>
                <a
                  href=''
                  class='btn btn-danger'
                  onclick="removeProduct('{{this._id}}','{{this.product._id}}')"
                >
                  Remove
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <hr style='width:100%;text-algin:center' />
    </div>
    <div style='display:block' class='float-right mr-5 pr-5'>
      <div>
        Subtotal : 14842
      </div>
      <div>
        Delivery charge : 100
      </div>
      <hr />
      <div>
        <b>
          Total : 14842
        </b>
      </div>
      <a href="/place-order" class="btn btn-success mt-3">Place order</a>
    </div>
  </div>
</section>

<script>
  function changeCount(cartId,prodId,val){
    let quantity = parseInt(document.getElementById(prodId).innerHTML)
    val = parseInt(val)
    $.ajax({
      url:'/change-product-quantity',
      data:{
        cart:cartId,
        product:prodId,
        count:val,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          //console.log("if case executed")
          alert("Product removed from cart")
          location.reload()
        }else{
          //console.log("else case update count")
          document.getElementById(prodId).innerHTML=quantity+val
        }
        
      }
    })
  }

  function removeProduct(cartId,prodId){
    $.ajax({
      url:'/remove-product',
      data:{
        cart:cartId,
        product:prodId
      },
      method:'post',
      success:(response)=>{
        alert("Product removed from cart")
        location.reload()
      }
    })
  }
</script>